<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzgc.service.starepo.dao.ObjectTypeMapper">
    <resultMap id="BaseResultMap" type="com.hzgc.service.starepo.model.ObjectType">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, reason, creator, createtime
    </sql>
    <delete id="deleteObjectTypeById" parameterType="java.lang.String">
        delete from t_statype
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteObjectTypeByIdBatch" parameterType="java.util.List">
        delete from t_starepo where id in
        <foreach collection="list" item="model" open="(" close=")" separator=",">
            #{model.id}
        </foreach>
    </delete>
    <insert id="addObjectType" parameterType="com.hzgc.service.starepo.model.ObjectType">
        insert into t_statype (id, name, reason,
        creator, createtime)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="addObjectTypeSelective" parameterType="com.hzgc.service.starepo.model.ObjectType">
        insert into t_statype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="selectObjectTypeById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_statype
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectObjectTypeByIdBatch" resultMap="BaseResultMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from t_statype
        where id in
        <foreach collection="list" item="model" open="(" close=")" separator=",">
            #{model.id}
        </foreach>
    </select>
    <select id="selectAllObjectType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_statype
    </select>
    <update id="updateObjectTypeById" parameterType="com.hzgc.service.starepo.model.ObjectType">
        update t_statype
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>